# Virtual Environment
venv/
env/
ENV/

# Datasets (large files)
*.csv
*.hdf5
*.h5

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Model files
*.joblib
*.pkl
*.model

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Miscellaneous
.DS_Store
Thumbs.db 